<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>{{title|esc}}</title>
<meta name="description" content="{{description|esc}}">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<main>
{{body|\Michelf\Markdown::defaultTransform}}
</main>
<footer>
<p>{{copyright}}</p>
</footer>
</body>
</html>