# Composer
composer.lock
/vendor/

# PHPUnit
/build/

# examples
/benchmark/data/
/benchmark/temp/
/examples/data/

# Misc.
_commands.txt
_project.txt
index.html
AirTemplate.komodoproject
/.komodotools/
