<div class="ChemicalList">
<h2>Chemical List</h2>
<table>
<thead>
<tr>
<th>Registry Number</th><th>Name Of Substance</th>
</tr>
</thead>
<tbody>
{{Chemical|each("chemical-list-row", "\n")}}
</tbody>
</table>
</div>
