<div class="dates">
Date created: {{DateCreated|render("medline-date")}}<br>
Date completed: {{DateCompleted|default("-")|render("medline-date")}}<br>
Date revised: {{DateRevised|default("-")|render("medline-date")}}<br>
</div>
