<div class="MedlineJournalInfo">
<h2>Medline Journal Info</h2>
<dl>
<dt>Country:</dt>
<dd>{{Country}}</dd>
<dt>MedlineTA:</dt>
<dd>{{MedlineTA}}</dd>
<dt>NlmUniqueID:</dt>
<dd>{{NlmUniqueID}}</dd>
<dt>ISSNLinking:<dt>
<dd>{{ISSNLinking}}</dd>
</dl>
</div>
