<div class="MedlineCitation">
<h1>PMID: {{PMID}}</h1>

{{Dates|render("medline-dates", ?)}}
Publication Model: {{pm=/Article/@PubModel|esc}}
{{Article|render("article")}}
{{MedlineJournalInfo|render("medline-journal-info")}}
{{ChemicalList|default("")|render("chemical-list")}}
</div>